/* .features .row h1 {
    font-size: 48px;
    line-height: 72px;
    color: rgba(0, 0, 0, 0.87);
} */


/* .features .row p {
    font-size: 24px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.87);
} */

.features .detail-button {
    background-color: #8BC34A;
    text-align: center;
    color: white;
    text-transform: uppercase;
    border-radius: 40px;
}

.feature-pic {
    background-image: url('../images/Feature3.svg');
}

.features-back-vawe {
    position: relative;
}

.ffeatures-back-vawe {
    content: "";
    position: absolute;
    width: 1652px;
    height: 1722px;
    top: -145px;
    background: url(../icon/big-wave.svg);
    background-size: cover;
    background-repeat: no-repeat
}